{% extends 'applipizza/base.html' %}

{% block title %} 
confirmation d'envoi d'instructions 
{% endblock %}

{% block main %}

<h2>message de réinitialisation du mot de passe envoyé</h2>

<p>
    Nous vous avons envoyé par email les instructions pour changer de mot de passe, pour autant qu'un compte existe avec l'adresse que vous avez indiquée.<br>
    Vous deviez rapidement recevoir ce message. <br>
    Dans le cas contraire, contrôlez vos spams et vérifiez que l'adresse email mentionnée est bien votre adresse de contact.
</p>

{% endblock %}