{% extends 'applipizza/base.html' %}

{% block title %} 
profil 
{% endblock %} 

{% block main %}
<h2>votre profil</h2>
<form enctype="multipart/form-data" id="form_profil" method="post" action="/user/{{user.id}}/updated/">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_username"> identifiant </label>
        <input type="text" class="form-control" id="id_username" name="username" value="{{user.username}}">
    </div>

    <div class="mb-3">
        <label for="first_name"> prénom </label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{user.first_name}}">
    </div>

    <div class="mb-3">
        <label for="last_name"> nom </label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name}}">
    </div>

    <div class="mb-3">
        <label for="email"> email </label>
        <input type="email" class="form-control" id="email" name="email" value="{{user.email}}">
    </div>

    <div class="mb-3">
        <div style="display:flex;flex-direction: column;">
            <label for="id_image" class="form-label">votre photo</label> <img class="imageUser" src="{{MEDIA_URL}}{{user.image}}" alt="">
        </div>
        <input class="form-control" name="image" type="file" accept="image/*" id="id_image" value="{{user.image}}">
    </div>

    <button type="submit" class="btn btn-primary">mettre à jour</button>
</form>
{% endblock %}