@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif !important;
}

main{
    padding-top: 30px;
}

footer{
    height: 70px;
    width: 100%;
    color:#FFFFFF; 
    background: #a8dadc;
    font-size:16px;
    text-align: center;
    line-height:70px;
    font-style: italic;
    margin-top: auto;
}


/* NAVBAR */
nav.navbar.navbar-expand-lg.navbar-dark.bg-primary{
    background-color: #457b9d !important;
    padding: 10px 40px;
}


.btn-primary{
    margin-bottom: 30px;
}



/* page toutes les pizzas */
/* styles.css */
.pizzas-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pizzas-container li {
    flex: 0 0 calc(33.33% - 20px); /* 3 pizzas par ligne avec un espacement de 20px entre elles */
    margin-bottom: 20px;
    background-color: #77abbd; /* Fond bleu pour chaque élément */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.pizza-item img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.pizza-details {
    color: white; /* Couleur du texte blanc */
}

svg{
    margin-right: 10px;
}


img.imagePizza {
    height: 25px;
}




/* PIZZA DÉTAIL */
.pizza-details {
    text-align: center; 
    margin-top: 20px; 
}

.pizza-details img {
    max-width: 100%; 
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.pizza-details button {
    margin-top: 30px;
}

.addIngredient{
    margin-top: 50px;
}
