{% extends 'applipizza/base.html' %}

{% block title %}
détails d'une pizza
{% endblock %}

{% block main %}
<h2> Voici notre pizza </h2>
<p>{{ pizza }}</p>

{% if ingredients_list %}

<h3>Ingrédients :</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ingredient</th>
            <th>Quantité</th>
            {% if user.is_staff %}
                <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for ingredient in ingredients_list %}
            <tr>
                <td>{{ ingredient.nom }}</td>
                <td>{{ ingredient.quantite }}</td>
                <td>
                    {% if user.is_staff %}
                        <a href="/pizzas/{{ pizza.idPizza }}/deleteIngredient/{{ ingredient.idComposition }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                            </svg>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p><b>La pizza {{ pizza.nomPizza }} n'a pas encore d'ingrédients :( </b></p>
{% endif %}

{% if user.is_staff %}
    <h2>Ajouter un ingrédient</h2>
    <form action="/pizzas/{{pizza.idPizza}}/addIngredient/" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_ingredient" class="form-label">ingrédient</label>
            <select name="ingredient" class="form-select" required id="id_ingredient">
                <option selected disabled>choisissez un ingrédient</option>
                {% for ing in lesIng %}
                <option value="{{ing.idIngredient}}">{{ing.nomIngredient}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="id_quantite" class="form-label">Quantité</label>
            <input type="text" name="quantite" class="form-control" maxlength="100" required id="id_quantite">
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
{% endif %}
{% endblock %}
